<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simple Carrot Calc</title>
    <link type="text/css" rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="./assets/css/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="./assets/css/scc.css?tc=202010191435" />
  </head>
  <body>
    <div id="goals">
      <h2>goals</h2>
      <ol>
        <li><strike>carrot background - similar to site branding?</strike></li>
        <li>input region - <strike>debt</strike>, retail [<strike>A</strike>,B], cost [<strike>A</strike>,B]</li>
        <li>output region [minimum] - <strike>profit</strike>, <strike>tithe</strike>, <strike>debt/cupcakes</strike>, <strike>debt/month</strike></li>
        <li>output region [nic2hav] - cupcakes from goal, price if selling ____ cupcakes</li>
      </ol>
    </div>
    <hr />
    <div id="sccApplication" class="sccWrapper">
      <h1 class="sccWrapperTitle">{{ titleLabel }}</h1>
      <b-card class="cardStyle">
        <h2>Inputs</h2>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Debt:</label>
          </b-col>
          <b-col :sm="`${ inputControlWidth }`" class="inputControl">
            <b-form-input v-model="debt" type="number">
          </b-col>
        </b-row>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Monthly Payment:</label>
          </b-col>
          <b-col :sm="`${ inputControlWidth }`" class="inputControl">
            <b-form-input v-model="monthlyPayment" type="number">
          </b-col>
        </b-row>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Retail Price:</label>
          </b-col>
          <b-col :sm="`${ inputControlWidth }`" class="inputControl">
            <b-form-input v-model="items[0].retail" type="number">
          </b-col>
        </b-row>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Cupcakes:</label>
          </b-col>
          <b-col :sm="`${ inputControlWidth }`" class="inputControl">
            <b-form-input v-model="items[0].units" type="number">
          </b-col>
        </b-row>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Cost / Cupcake:</label>
          </b-col>
          <b-col :sm="`${ inputControlWidth }`" class="inputControl">
            <b-form-input v-model="items[0].cost" type="number">
          </b-col>
        </b-row>
      </b-card>
      <br />
      <b-card class="cardStyle">
        <h2>Outputs</h2>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Profit:</label>
          </b-col>
          <b-col :sm="`${ outputControlWidth }`" class="outputControl">
            <div class="mt-2">{{ moneyFormat(profit(items)) }}</div>
          </b-col>
        </b-row>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Tithe:</label>
          </b-col>
          <b-col :sm="`${ outputControlWidth }`" class="outputControl">
            <div class="mt-2">{{ moneyFormat(tithe(items)) }}</div>
          </b-col>
        </b-row>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Cupcakes / Debt:</label>
          </b-col>
          <b-col :sm="`${ outputControlWidth }`" class="outputControl">
            <div class="mt-2">{{ cupcakeTransform(debt, items) }}</div>
          </b-col>
        </b-row>
        <b-row>
          <b-col :sm="`${ labelWidth }`" class="labelLabel">
            <label>Cupcakes / Month:</label>
          </b-col>
          <b-col :sm="`${ outputControlWidth }`" class="outputControl">
            <div class="mt-2">{{ cupcakeTransform(monthlyPayment, items) }}</div>
          </b-col>
        </b-row>
      </b-card>
      <br />
    </div>
    <script src="./assets/scripts/vuejs.v2-6-12.js"></script>
    <script src="./assets/scripts/bootstrap-vue.v2-17-3.min.js"></script>
    <script src="./assets/scripts/scc.js?tc=202010191435"></script>
  </body>
</html>